.social-banner {
  background: $primary-color;
  padding: 20px 0 10px 0;

  .social-text {
    text-align: left;
      p {
        font-size: 18px;
        color: $white;
        vertical-align: middle;
      }
    }

  .social-icons {

    text-align: right;

      .svg-inline--fa {
    font-size: 20px;
    vertical-align: middle;
    color: $white;
    margin: 5px 15px;
    transition: ease-in-out 0.5s;

    &:hover {
      transform: rotate(24deg);
      color: $black;
    }

    }
  }

}

.footer {
background: #000000;
padding: 40px 20px;

  p{
    color: $white;
  }

  a {
    color: $primary-color;
  }

    .col-md-2, .col-md-4 {
      text-align: center;
      vertical-align: middle;
    }

    .footer-logo {

        img {
          max-width: 150px;
          opacity: 0.5;
        }
    }




}
