.navbar {
  padding: 10px 40px;
  background: rgba(0,0,0, 0.2);
  transition: ease-in-out 0.3;

  li {
    padding: 0 15px;

    a {
      letter-spacing: 1px;
    }
  }

  //logo
  .navbar-brand {
    max-width: 250px;
    max-height: 250px;
    img {
      height: 100%;
    }
  }

  .dropdown-menu {
    margin-top: 22px;
    background-color: $secondary-color;
    border: solid 2px $white;
    position: auto;

    li {
      padding: 0;

      &:hover {
        background: $primary-color;
      }

    a {
      color: $white;
      font-weight: 800;
    }
   }

   .dropdown-item {
     &:hover {
       background: $black;
     }
   }
  }

}

.dark-nav{
  background-color: $white !important;
  padding: 10px 0;

  a{
    color: $black;
    font-weight: 400!important;
    letter-spacing: 1px;
  }

  .logo {

    img {
      max-height: 60px !important;
    }
  }
}

.navbar-margin-top {
  margin-top: 35px;
}
