.navbar {
  padding: $ns1-padding;
  background: $ns1-bg;
  transition: ease-in-out 0.3;

  @media only screen and (max-width: 1024px) {
    background: $white;
    padding: 2px;
  }

  li {
    padding: 0 15px;

    a {
      letter-spacing: 1px;
    }
  }

  .navbar-toggler-icon {
    background-image: none;
    opacity: 1;
    color: $burger-col;

    i.material-icons {
      font-size: 1.5rem;
    }
  }

  //logo
  .logo {


    img{
    max-height: $logo-size;
  }
  }

  .dropdown-menu {
    margin-top: 22px;
    background-color: $secondary-color;
    border: solid 2px $white;
    position: auto;

    li {
      padding: 0;

      &:hover {
        background: $primary-color;
      }

    a {
      color: $white;
      font-weight: 800;
    }
   }

   .dropdown-item {
     &:hover {
       background: $black;
     }
   }
  }

}

.dark-nav{
  background-color: $white !important;
  padding: 10px 0;

  @media only screen and (max-width: 1024px) {
    padding: 2px;
  }

  a{
    color: $ns2-link-col;
    font-weight: $ns2-link-col-hover !important;
    letter-spacing: $nav-link-ls;
  }

  .logo {
    margin-left: 10px;

    img {
      max-height: $logo-size-s2;
    }
  }
}

.navbar-margin-top {
  margin-top: $nav-margin-top-fixed ;
}
