.jumbotron {
  background-attachment: fixed;
   background-position: 50% 80%;
   background-repeat: no-repeat;
   background-size: cover;
   min-height: 70vh;
   padding-top: 10rem;
   margin-bottom: 0;

   h1 {
     color: $white;
     font-size: 50px;
   }

   .jumbotron-txt-area {
     margin-bottom: 25px;
   }



}

.jtrn-newsletter-container {
  min-height: 100vh;
  padding-top: 10%;
  background-size: cover;

    .jtrn-content {
      text-align: center;

        h5 {
          font-size: 50px;
          color: $white;
          font-weight: 800 !important;
          text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.84);
          margin-bottom: 25px;
        }

        h1 {
          font-size: 20px;
          font-weight: 400 !important;
        }

    }

    .jtrn-newsletter {
      background: $white;
      margin: 30px auto;
      margin-bottom: 50px;
      padding: 20px;

      h4 {
        margin-bottom: 20px;
      }

      .newsletter-signup {
        margin: 0 auto;
        text-align: center;

        input {
          border: none;
          border-radius: 0;
        }

        input {
          background: $input-bg;
          padding: 10px;
          margin-bottom: 10px;
          border: $input-border;
          border-radius: $input-border-radius;
        }

        .wpcf7-submit {
          background: $submit-bg;
          border: $submit-border;
          font-weight: 900;
          color: $submit-col;
          transition: ease-in-out 0.4s;
          border-radius: $submit-border-radius;

          &:hover {
            background: $submit-bg-hover;
            border: $submit-border-hover;
            color: $submit-col-hover;
          }
        }
      }

    }


}
