.jumbotron {
  background-attachment: fixed;
   background-position: 50% 80%;
   background-repeat: no-repeat;
   background-size: cover;
   min-height: 70vh;
   padding-top: 10rem;
   margin-bottom: 0;

   h1 {
     color: white;
     font-size: 50px;
   }

   .jumbotron-txt-area {
     margin-bottom: 25px;
   }



}
