.testimonial-row {
  padding: 30px 0;


  .testimonial-card {
    border: none;
    text-align: center;

    .t-inner {
      padding:20px;
      background-color: $white;

      .client-name {
        color: $primary-color;
      }


    }


  }

}
