body {
  -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 700 !important; }

.col-md-10, .col-md-8 {
  margin: 0 auto; }

.single-column-content, .two-column-content, .three-column-content, .four-column-content {
  padding: 50px; }

.btn {
  background: #007bff;
  transition: ease-in-out 0.3s; }
  .btn:hover {
    background: #007bff;
    transform: rotate(3deg);
    box-shadow: 0px 10px 8px -5px rgba(0, 0, 0, 0.32); }

.jumbotron {
  background-attachment: fixed;
  background-position: 50% 80%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 70vh;
  padding-top: 10rem;
  margin-bottom: 0; }
  .jumbotron h1 {
    color: white;
    font-size: 50px; }
  .jumbotron .jumbotron-txt-area {
    margin-bottom: 25px; }

.card-row {
  padding: 30px 0; }
  .card-row .card {
    overflow: hidden; }
    .card-row .card img {
      transition: ease-out 0.2s; }
      .card-row .card img:hover {
        transform: scale(1.1);
        overflow: hidden; }
    .card-row .card .card-content {
      padding: 10px; }

.contact-row {
  padding: 5px 10px;
  background-color: #000000; }
  .contact-row a i.material-icons {
    font-size: 16px !important;
    margin-left: 20px;
    color: #0f0f0f;
    height: 25px;
    width: 25px;
    line-height: 25px !important;
    border-radius: 20px;
    text-align: center;
    vertical-align: middle;
    transition: ease-out 0.4s;
    background: #185ebf; }
    .contact-row a i.material-icons:hover {
      color: #ffffff !important;
      font-size: 42px; }
  .contact-row .contact-item {
    color: white;
    margin-right: 30px;
    font-size: 13px; }
    @media only screen and (max-width: 600px) {
      .contact-row .contact-item {
        display: none;
        margin-right: 5px; } }

.contact-container {
  border: 1px solid #212121;
  background: #0f0f0f;
  padding: 30px;
  border-radius: 6px;
  margin: 0 auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); }
  .contact-container .form-message {
    padding-bottom: 20px; }
  .contact-container fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%; }
  .contact-container input,
  .contact-container textarea {
    background-color: transparent;
    border: 0px solid; }
  .contact-container input,
  .contact-container textarea {
    width: 90%;
    /*border: 1px solid #0a5ed3;*/
    background: #353535;
    margin: 0 0 5px;
    padding: 10px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #000000; }
  .contact-container ::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5); }
  .contact-container ::-moz-placeholder {
    color: rgba(255, 255, 255, 0.5); }
  .contact-container :-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5); }
  .contact-container ::placeholder {
    color: rgba(255, 255, 255, 0.5); }

.page-gallery .pimg {
  margin: 0;
  padding: 0; }
  .page-gallery .pimg img {
    width: 100%; }

.newsletter-panel-form {
  padding: 0 20px; }
  .newsletter-panel-form input {
    background-color: transparent;
    border: 0px solid; }
  .newsletter-panel-form input {
    background-color: white;
    width: 100%;
    height: 40px;
    padding: 0 10px; }
  .newsletter-panel-form .col-md-10 {
    padding: 0; }
  .newsletter-panel-form .wpcf7-submit {
    background: #007bff;
    width: 100%;
    color: white;
    border-radius: 4px;
    border: solid 1px #0765ea; }
  .newsletter-panel-form .disclaimer {
    font-size: 12px;
    color: white; }

.newsletter-text-area {
  padding: 30px; }
  .newsletter-text-area p {
    font-size: 13px; }

.statement {
  background-size: cover;
  background-attachment: fixed;
  padding: 7rem 0; }
  .statement .statement-text-area h2 {
    font-size: 5rem; }
  .statement .statement-text-area hr {
    color: white;
    width: 100%; }

.testimonial-row {
  padding: 30px 0; }
  .testimonial-row .testimonial-card {
    border: none;
    text-align: center; }
    .testimonial-row .testimonial-card .t-inner {
      padding: 20px;
      background-color: white; }
      .testimonial-row .testimonial-card .t-inner .client-name {
        color: #007bff; }

.carousel .slick-slide .item img {
  width: 100%; }

.social-banner {
  background: #007bff;
  padding: 20px 0 10px 0; }
  .social-banner .social-text {
    text-align: left; }
    .social-banner .social-text p {
      font-size: 18px;
      color: white;
      vertical-align: middle; }
  .social-banner .social-icons {
    text-align: right; }
    .social-banner .social-icons .svg-inline--fa {
      font-size: 20px;
      vertical-align: middle;
      color: white;
      margin: 5px 15px;
      transition: ease-in-out 0.5s; }
      .social-banner .social-icons .svg-inline--fa:hover {
        transform: rotate(24deg);
        color: black; }

.footer {
  background: #000000;
  padding: 40px 20px; }
  .footer .col-md-2, .footer .col-md-4 {
    text-align: center;
    vertical-align: middle; }
  .footer .footer-logo img {
    width: 100%;
    opacity: 0.5; }

.navbar {
  padding: 10px; }
  .navbar .navbar-brand {
    max-width: 250px; }
    .navbar .navbar-brand img {
      width: 100%; }
  .navbar .dropdown-menu {
    margin-top: 22px;
    width: 100%;
    background-color: black; }
    .navbar .dropdown-menu a {
      color: white; }

.dark-nav {
  background-color: #0e0e0e !important; }

.navbar-margin-top {
  margin-top: 35px; }