//main UI colours

$white: #ffffff;
$black: #000000;
$dark-grey: #212121;
$dark-md-grey:#0f0f0f;
$primary-color: #FFB470;
$primary-shade: #185ebf;
$medium-grey: #353535;
$light-grey: #eeeeee;
$secondary-color: #26007b;



//Text-Colours
$heading-color: #333333;
$p-white: #ffffff;
$p-black: #333333;

//Shapes
$curved-border: 6px;
$rectangle-border: 0;
