//main UI colours

$white: #ffffff;
$black: #000000;
$dark-grey: #212121;
$dark-md-grey:#0f0f0f;
$primary-color: #007bff;
$primary-shade: #185ebf;
$medium-grey: #353535;


//Text-Colours
$heading-color: #333333;
$p-white: #ffffff;
$p-black: #333333;
